/*Adding a border image*/
#borderimg { 
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(http://www.i2clipart.com/cliparts/c/4/9/1/clipart-showcard-border-512x512-c491.png) 30 stretch;
}
