/*Adding element, id & class Selectors
* also changing font with web fonts, colors & used a gradient*/
@font-face {
   font-family: myFirstFont;
    src: url('Chunkfive-webfont.eot?#iefix') format('embedded-opentype');
}

/* Changing background characteristics */
body {
    background-image:url("https://scontent.fslc1-2.fna.fbcdn.net/v/t31.0-8/26171991_10155967908462731_7072789255425500057_o.jpg?_nc_cat=0&oh=8f5f67c28a7f05e4f93c073e6296e51b&oe=5B6011C4"),
url("https://thumbs.dreamstime.com/b/old-blue-brown-background-paper-texture-26019869.jpg");
background-size: 1500px 900px;
background-position: right top, left top;
background-repeat: no-repeat, repeat;}

#title {
   font-family: myFirstFont;
}
p {
    color: blue;
}

.center {
  text-align: center;
  color: brown;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 30px;
}

p::before {
    content: "**";
}

p::after {
    content: "**"; 
}

#Grand1 {
  color: brown;
  text-decoration: underline;
  background: linear-gradient(to bottom right, red, yellow);
}

/*Adding a border image*/
#borderimg { 
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(http://www.i2clipart.com/cliparts/c/4/9/1/clipart-showcard-border-512x512-c491.png) 30 stretch;
}

/*Adding text as a "fixed" position*/
div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100px;
    border: 1px solid #73AD21;
}

/* Adding text effects, hovering shows text 
overflow.  Also used 2d transform (skew) & 3d transform (rotateX) */
#GCInfo {
    white-space: nowrap; 
    width: 200px; 
    overflow: hidden; 
    border: 1px solid #000000;
    transform: skewX(12deg);
}

#GCInfo:hover {
    text-overflow: inherit;
    overflow: visible;
    transform: rotateX(40deg);
}

